@{ ViewData["Title"] = "Home Page"; }
@model IEnumerable<Resume>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>text-align</title>
    <style>


        .container {
            width: 100%;
            text-align: center
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>Список резюме</h3>
        <a asp-action="Add" class="btn-primary btn" asp-controller="Resume">Добавить резюме</a>
        <a asp-action="Edit" asp-controller="Profile" class="btn-primary btn">Редактировать профиль</a>
        <div class="row row-cols-1 row-cols-md-3">
            @foreach (var v in Model)
            {

    <div class="col mb-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Название: @v.Name</h5>
                <p class="card-text text-muted">@v.RefreshDate</p>
                <p class="card-text text-muted">Status @v.Status</p>
                <a class="card-link" asp-action="ChangeStatus" asp-controller="Resume" asp-route-resumeId="@v.Id">Поменять статус</a>
                <a class="card-link" asp-action="RefreshDate" asp-controller="Resume" asp-route-resumeId="@v.Id">Обновить</a>
                <a asp-action="ResumeDetails" asp-controller="Profile" asp-route-resumeId="@v.Id">Подробнее</a>
            </div>
        </div>
    </div>}
        </div>
    </div>
</body>
</html>